# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.venv*/

# Database files
*.db
*.sqlite3

# Application config and logs
/config/
log/

# Test files
test.py

# Editor and IDE files
.vscode/
