# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.venv*/

# Database files
*.db
*.sqlite3

# Test files
test.py

# Editor and IDE files
.vscode/

# Application config and logs
config/
log/
files/
